[submodule "Drizzle"]
	path = Drizzle
	url = https://github.com/HenryMarkle/Drizzle
	branch = embedded

[submodule "Data"]
	path = Data
	url = https://github.com/SlimeCubed/Drizzle.Data.git
	branch = community